.signup_container {
	width: 100%;
	min-height: 100vh;
  background-color: #feb770;
  background-image: linear-gradient(43deg, #feb770 0%, #fca40b 46%, #fc5923 100%);  
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container1 {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.signup_left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: linear-gradient(22deg, rgba(255,255,255,0) 0%, rgba(255,124,0,1) 0%, rgba(250,71,71,1) 76%);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.signup_left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.signup_right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.signup_form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup_form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.signup_input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.signup_error_msg,
.signup_success_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.signup_success_msg {
	background-color: #5cdd5c;
}

.signup_white_btn,
.signup_green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.signup_green_btn {
	background-color: #ff7c00;
	color: white;
	margin: 5px;
}



.wrapperLevel0{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.wrapperLevel1{
    display: grid;
  height: 100%;
  place-items: center;

}

.wrapper{
    display: inline-flex;
    background: #fff;
    height: 70px;
    width: 420px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
  }
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #ff7c00;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #ff7c00;
    background: #ff7c00;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 15px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }